* {
  border: none;
}

body {
  background-color: #4998B6;
  font-family: sans-serif;
  text-align: center;
}

.notes {
  font-size: .75em;
}

.intro {
  background-color: #FFFFD2;
  border: solid #B22222;
  text-align: center;
  padding: 1% 0;
  margin: 2% 0;
}

textarea,
input {
  background-color: #FFFFD2;
}

.jsonGen {
  text-align: left;
  margin-left: 30%;
}

.button {
  background: #FFFFD2;
  border: solid #B22222;
  padding: 1%;
  margin: 1%;
  margin-bottom: 0;
  display: inline-block;
}
