* {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: underline;
}

[href^="blob"] {
  font-weight: bold;
  text-decoration: underline;
}

body {
  background-color: lightgrey;
  font-family: sans-serif;
  text-align: center;
}

.notes {
  font-size: .75em;
}

.intro {
  background-color: white;
  border: solid black;
  text-align: center;
  padding: 1% 0;
  margin: 2% 0;
}

textarea,
input {
  background-color: white;
}

.button {
  border-color: solid black;
  text-align: left;
  margin-left: 30%;
}

.button {
  background: white;
  border: solid black;
  padding: 1%;
  margin: 1%;
  margin-bottom: 0;
  display: inline-block;
}
